{% extends "home.html" %}
{% block body %}
<div class="shadow-lg border w-1/2 rounded-md p-10 text-center items-center">
         <h1 id="text" class="text-5xl font-bold text-slate-500">Download {{ filename_mp4 }}</h1>
            <video controls class="rounded-lg justify-self-center mt-4">
            <source src="{{ filename_mp4 }}" type="video/mp4"></source>
        </video><br>
        <button><a style="color: white; font-style: none;" href="media/{{ filename_mp4 }}">Download</a></button>
</div>
{% endblock %}
